<header class="fixed-header">
    <div class="header-menu">
        <div class="navbar" style="justify-content: space-around;">
            <div class="nav-item header-control">
                <div class="inline-item d-md-block">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." (keyup)="onSearch($event)"
                            [(ngModel)]="search_query">
                        <div class="input-group-append">
                            <button class="submit-btn" type="button" (click)="search_users()"><i
                                    class="fa fa-search"></i></button>
                            <div class="dropdown dropdown-friend">
                                <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': isDropdownOpen}">
                                    <div class="item-heading">
                                        <h6 class="heading-title">Search Results</h6>
                                    </div>
                                    <div class="item-body" *ngFor="let result of search_results">
                                        <div class="media">
                                            <div class="item-img">
                                                <img [src]="result.profile_picture"
                                                    style="width: 50px; height: 50px; object-fit: cover;" alt="Notify">
                                                <span class="chat-status offline"></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title"><a
                                                        routerLink="/profile/{{result.username}}" (click)="isDropdownOpen = false">{{result.name}}
                                                        <app-verified-tick [condition]="result.is_verified" [is_admin]="result.is_admin"></app-verified-tick>
                                                    </a></h6>
                                                <p>@{{result.username}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline-item d-flex align-items-center" *ngIf="user != null && user.is_onboarded">
                    <div class="dropdown dropdown-friend">
                        <a class="dropdown-toggle" routerLink="/feed" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-rss"></i>
                        </a>
                    </div>
                    <div class="dropdown dropdown-friend" *ngIf="false">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-users"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Friend Requests</h6>
                                <div class="heading-btn">
                                    <a>Settings</a>
                                    <a>Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="https://avatars.githubusercontent.com/u/68241942?v=4" alt="Notify"
                                            style="width: 50px; height: 50px; object-fit: cover;">
                                        <span class="chat-status offline"></span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a>Siddharth Singh</a></h6>
                                        <p>4 in mutual friends</p>
                                        <div class="btn-area">
                                            <a class="item-btn"><i class="fa fa-plus"></i></a>
                                            <a hr ef="#" class="item-btn"><i class="fa fa-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-footer">
                                <a class="view-btn">View All Friend Request</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-message" *ngIf="false">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-comments"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Message</h6>
                                <div class="heading-btn">
                                    <a>Settings</a>
                                    <a>Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <a class="media">
                                    <div class="item-img">
                                        <img src="https://avatars.githubusercontent.com/u/68241942?v=4"
                                            style="width: 50px; height: 50px; object-fit: cover;" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Siddharth Singh</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>coming soon ...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-footer">
                                <a class="view-btn">View All Messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-notification" *ngIf="false">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell"></i><span class="notify-count">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Notifications</h6>
                                <div class="heading-btn">
                                    <a>Settings</a>
                                    <a>Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <a class="media">
                                    <div class="item-img">
                                        <img src="https://avatars.githubusercontent.com/u/68241942?v=4"
                                            style="width: 50px; height: 50px; object-fit: cover;" alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Siddharth Singh</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>coming soon ...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-footer">
                                <a class="view-btn">View All Notification</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline-item d-flex align-items-center" *ngIf="user == null">
                    <button mat-raised-button class="dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-expanded="false">
                        More
                    </button>
                    <div class="dropdown dropdown-admin">
                        <div class="dropdown-menu dropdown-menu-right" style="top: 40px">
                            <ul class="admin-options">
                                <li><a (click)="auth.login_user()">Login</a></li>
                                <li><a routerLink="/investors">Investors</a></li>
                                <li><a routerLink="/about">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inline-item" *ngIf="user != null && user.is_onboarded">
                    <div class="dropdown dropdown-admin">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <span class="media">
                                <span class="item-img">
                                    <img src="{{user.profile_picture}}"
                                        style="width: 50px; height: 50px; object-fit: cover;" alt="Chat">
                                    <app-verified-tick class="acc-verified mr-2" [condition]="user!.is_verified"  [is_admin]="user!.is_admin"></app-verified-tick>
                                </span>
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="admin-options">
                                <li><a routerLink="/profile/{{user.username}}">Profile</a></li>
                                <!-- <li><a href="user-groups.html">Groups</a></li>
                                <li><a href="forums.html">Forums</a></li> -->
                                <li><a routerLink="/settings">Settings</a></li>
                                <li><a routerLink="/investors">Investors</a></li>
                                <li><a routerLink="/about">About</a></li>
                                <li><a routerLink="/logout">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>