<aside class="widget-area">
    <!-- widget single item start -->
    <div class="card card-profile widget-item p-0" style="border-radius: 5%;">
        <div class="profile-banner">
            <figure class="profile-banner-small">
                <a href="/profile">
                    <img src="https://img5.goodfon.com/original/1366x768/6/89/dresden-drezden-germaniia.jpg" alt="">
                </a>
                <a routerLink="/profile" class="profile-thumb-2">
                    <img src="https://avatars.githubusercontent.com/u/68241942?v=4" alt="">
                </a>
            </figure>
            <div class="profile-desc text-center">
                <h6 class="author"><a routerLink="/profile">Siddharth Singh <i class="fa fa-check"
                            style="background-color: #2aa8df;border: white;border-radius: 8px;color: white;padding: 2px;"></i>
                    </a></h6>
                <p>Yawn !</p>
            </div>
        </div>
    </div>
</aside>