<main id="main">
    <section id="about" class="page-content" style="background-color: white;">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Logged Out </legend>
                    </fieldset>
                    <div class="form-group">
                        <a class="btn btn-outline-info" type="submit" routerLink="/login">Login</a>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block text-center">
                    <div class="container">
                        <h1 class="display-4" style="text-align: center;">Gliter</h1>
                        <img src="https://avatars.githubusercontent.com/u/121411818?s=500"
                            style="max-width: 250px;">
                        <p class="lead" style="display: flex;justify-content:center">
                            The cleanest micro-blogging platform.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Frequently Asked Questions Section -->
</main>