<main id="main">
    <section id="about" class="about">
        <div class="container mt-3">


            <h1 class="display-4">About Gliter</h1>
            <br>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate quam quae blanditiis
                repudiandae molestias sapiente praesentium laborum nostrum amet nemo dignissimos tempore, laudantium
                veritatis quibusdam sint hic eius et.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ipsa unde eligendi, facere voluptates
                dolorum labore sit perferendis nam magni amet reiciendis hic commodi facilis ex architecto, totam,
                distinctio omnis?
            </p>
        </div>

    </section>
</main>