<header class="fixed-header">
    <div class="header-menu">
        <div class="navbar">
            <div class="nav-item header-control">
                <div class="inline-item d-md-block">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search_query">
                        <div class="input-group-append">
                            <button class="submit-btn" type="button" data-toggle="dropdown" aria-expanded="false"
                                (click)="search_users()"><i class="fa fa-search"></i></button>
                            <div class="dropdown dropdown-friend">
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="item-heading">
                                        <h6 class="heading-title">Search Results</h6>
                                    </div>
                                    <div class="item-body" *ngFor="let result of search_results">
                                        <div class="media">
                                            <div class="item-img">
                                                <img [src]="result.profile_picture" style="max-width: 50px;"
                                                    alt="Notify">
                                                <span class="chat-status offline"></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="item-title"><a
                                                        routerLink="/profile/{{result.username}}">{{result.name}}
                                                        <span *ngIf="result.is_verified"
                                                            style="background-color: skyblue; font-family: IcoFont; text-align: center; display: inline-block; height: 20px; width: 20px; line-height: 20px; background-color: skyblue; border-radius: 50%; font-size: 20px;color: #ffffff;">✓</span>
                                                    </a></h6>
                                                <p>@{{result.username}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline-item d-flex align-items-center" *ngIf="user != null">
                    <div class="dropdown dropdown-friend">
                        <a class="dropdown-toggle" routerLink="/feed" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-rss"></i>
                        </a>
                    </div>
                    <div class="dropdown dropdown-friend">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-users"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Friend Requests</h6>
                                <div class="heading-btn">
                                    <a href="#">Settings</a>
                                    <a href="#">Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <div class="media">
                                    <div class="item-img">
                                        <img src="https://radiustheme.com/demo/html/cirkle/media/figure/chat_8.jpg"
                                            alt="Notify">
                                        <span class="chat-status offline"></span>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title"><a href="#">Siddharth Singh</a></h6>
                                        <p>4 in mutual friends</p>
                                        <div class="btn-area">
                                            <a href="#" class="item-btn"><i class="fa fa-plus"></i></a>
                                            <a hr ef="#" class="item-btn"><i class="fa fa-minus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Friend Request</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-message">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-comments"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Message</h6>
                                <div class="heading-btn">
                                    <a href="#">Settings</a>
                                    <a href="#">Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="https://radiustheme.com/demo/html/cirkle/media/figure/chat_8.jpg"
                                            alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Siddharth Singh</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>coming soon ...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Messages</a>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dropdown-notification">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-bell"></i><span class="notify-count">3</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-heading">
                                <h6 class="heading-title">Notifications</h6>
                                <div class="heading-btn">
                                    <a href="#">Settings</a>
                                    <a href="#">Mark all as Read</a>
                                </div>
                            </div>
                            <div class="item-body">
                                <a href="#" class="media">
                                    <div class="item-img">
                                        <img src="https://radiustheme.com/demo/html/cirkle/media/figure/chat_8.jpg"
                                            alt="Notify">
                                    </div>
                                    <div class="media-body">
                                        <h6 class="item-title">Siddharth Singh</h6>
                                        <div class="item-time">15 mins ago</div>
                                        <p>coming soon ...</p>
                                    </div>
                                </a>
                            </div>
                            <div class="item-footer">
                                <a href="#" class="view-btn">View All Notification</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inline-item d-flex align-items-center" *ngIf="user == null">
                    <button mat-raised-button class="dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-expanded="false">
                        More
                    </button>
                    <div class="dropdown dropdown-admin">
                        <div class="dropdown-menu dropdown-menu-right" style="top: 40px">
                            <ul class="admin-options">
                                <li><a (click)="auth.login_user()">Login</a></li>
                                <li><a routerLink="/investors">Investors</a></li>
                                <li><a routerLink="/about">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="inline-item" *ngIf="user != null">
                    <div class="dropdown dropdown-admin">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            <span class="media">
                                <span class="item-img">
                                    <img src="{{user.profile_picture}}" style="max-width: 50px;" alt="Chat">
                                    <span *ngIf="user.is_verified" class="acc-verified"><i
                                            class="fa fa-check"></i></span>
                                </span>
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul class="admin-options">
                                <li><a routerLink="/profile/{{user.username}}">Profile</a></li>
                                <!-- <li><a href="user-groups.html">Groups</a></li>
                                <li><a href="forums.html">Forums</a></li> -->
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a routerLink="/logout">Log Out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>