<main id="main" *ngIf="user == null">
    <section id="about" class="page-content" style="background-color: white;">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <div class="container text-center">
                        <h1 class="display-4" style="text-align: center;">Gliter</h1>
                        <img src="https://avatars.githubusercontent.com/u/121411818"
                            style="max-width: 250px;">
                        <br>
                        <br>
                        <p class="lead" style="display: flex;justify-content:center">
                            The cleanest micro-blogging platform.
                        </p>
                        <div class="container">
                            <button mat-raised-button color="primary" (click)="auth.login_user()">
                                Log in with Google
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>