<div class="widget widget-author" *ngIf="user != null">
    <div class="author-heading">
        <div class="cover-img">
            <img src="{{user!.cover_picture}}" style="max-width: 360px; max-height: 100px;" alt="cover">
        </div>
        <div class="profile-img" >
            <a routerLink="/profile/{{user.username}}">
                <img src="{{user!.profile_picture}}" style="max-height: 90px; max-width: 90px;" alt="author">
            </a>
        </div>
        <div class="profile-name">
            <h4 class="author-name"><a routerLink="/profile/{{user.username}}">{{user.name}} <i
                class="fa fa-check" *ngIf="user!.is_verified"
                style="background-color: #2aa8df;border: white;border-radius: 50%;color: white;"></i></a></h4>
            <div class="author-location">{{user.location}}</div>
        </div>
    </div>
    <ul class="author-badge">
        {{user.bio}}
    </ul>
    <ul class="author-statistics">
        <li>
            <a routerLink="/profile/{{user.username}}"><span class="item-number">{{total_posts}}</span> <span class="item-text">POSTS</span></a>
        </li>
        <li>
            <a routerLink="/profile/{{user.username}}"><span class="item-number">{{total_followers}}</span> <span class="item-text">FOLLOWERS</span></a>
        </li>
        <!-- <li>
            <a routerLink="/profile/{{user.username}}"><span class="item-number">1,125</span> <span class="item-text">VIEWS</span></a>
        </li> -->
    </ul>
</div>