<main>
    <div class="main-wrapper">
        <app-profile-page-header></app-profile-page-header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 order-lg-1">
                    <app-profile-page-details></app-profile-page-details>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <app-share-post></app-share-post>
                    <br>
                    <app-user-feed></app-user-feed>
                </div>
                <div class="col-lg-3 order-3">
                    <app-people-you-may-know></app-people-you-may-know>
                </div>
            </div>
        </div>
    </div>
</main>