<div class="row">
    <div class="col-lg-8">
        <app-share-post *ngIf="tab_name == ''"></app-share-post>
        <app-profile-page-posts  *ngIf="tab_name == ''"></app-profile-page-posts>
        <app-profile-page-about></app-profile-page-about>
    </div>
    <div class="col-lg-4 widget-block widget-break-lg d-none d-md-block">
        <app-profile-page-details  *ngIf="tab_name == ''"></app-profile-page-details>
        <br>
        <app-people-you-may-know></app-people-you-may-know>
    </div>
</div>