<div class="block-box post-view"  *ngFor="let post of posts">
    <div class="post-header">
        <div class="media">
            <div class="user-img">
                <img *ngIf="viewing_feed" src="{{post.user['profile_picture']}}" style="width: 50px; height: 50px; object-fit: cover;">
                <img *ngIf="!viewing_feed" src="{{user!.profile_picture}}" style="width: 50px; height: 50px; object-fit: cover;">
            </div>
            <div class="media-body">
                <div class="user-title">
                    <a *ngIf="viewing_feed" href="/profile/{{post.user['username']}}">{{post.user['name']}}</a>
                    <a *ngIf="!viewing_feed" href="/profile/{{user!.username}}">{{user!.name}}</a>
                    <i
                    class="fa fa-check" *ngIf="viewing_feed && post.user['is_verified']"
                    style="background-color: #2aa8df;border: white;border-radius: 50%;color: white;"></i>
                    <i
                    class="fa fa-check" *ngIf="!viewing_feed && user!.is_verified"
                    style="background-color: #2aa8df;border: white;border-radius: 50%;color: white;"></i></div>
                <ul class="entry-meta">
                    <li class="meta-time">{{util.parseTimestamp(post.timestamp)}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post-body">
        <div class="post-no-thumbnail">
            <p [innerHTML]="post.content"></p>
        </div>
        <div class="post-meta-wrap"  *ngIf="false">
            <div class="post-meta">
                <div class="post-reaction">
                    <div class="reaction-icon">
                        <img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_1.png" alt="icon">
                        <img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_2.png" alt="icon">
                        <img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_3.png" alt="icon">
                    </div>
                    <div class="meta-text">25</div>
                </div>
            </div>
            <div class="post-meta">
                <div class="meta-text">2 Comments</div>
                <div class="meta-text">05 Share</div>
            </div>
        </div>
    </div>
    <div class="post-footer"  *ngIf="false">
        <ul>
            <li class="post-react">
                <a ><i class="fa fa-thumbs-up"></i>React!</a>
                <ul class="react-list">
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_1.png" alt="Like"></a></li>
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_3.png" alt="Like"></a></li>
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_4.png" alt="Like"></a></li>
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_2.png" alt="Like"></a></li>
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_7.png" alt="Like"></a></li>
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_6.png" alt="Like"></a></li>
                    <li><a><img src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_5.png" alt="Like"></a></li>
                </ul>
            </li>
            <li><a><i class="fa fa-comment"></i>Comment</a></li>
            <li class="post-share">
                <a href="javascript:void(0);" class="share-btn"><i class="fa fa-share"></i>Share</a>
                <ul class="share-list">
                    <li><a class="color-fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="color-twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="post-comment" *ngIf="false">
        <ul class="comment-list">
            <li class="main-comments">
                <div class="each-comment">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="https://radiustheme.com/demo/html/cirkle/media/figure/chat_8.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="user-timeline.html">Random User</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-time">5 mins ago</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>testing a comment..</p>
                    </div>
                    <!-- <div class="post-footer">
                        <ul>
                            <li class="react-icon">
                                <img src="media/figure/reaction_1.png" alt="icon">
                                <img src="media/figure/reaction_2.png" alt="icon">
                            </li>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                        </ul>
                    </div> -->
                </div>
                <!-- <ul class="children">
                    <li class="main-comments">
                        <div class="each-comment">
                            <div class="post-header">
                                <div class="media">
                                    <div class="user-img">
                                        <img src="media/figure/notifiy_1.png" alt="Aahat">
                                    </div>
                                    <div class="media-body">
                                        <div class="user-title"><a href="user-timeline.html">Neko Bebo</a></div>
                                        <ul class="entry-meta">
                                            <li class="meta-time">5 mins ago</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Close</a>
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem..</p>
                            </div>
                            <div class="post-footer">
                                <ul>
                                    <li class="react-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_3.png" alt="icon">
                                    </li>
                                    <li class="post-react">
                                        <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                        <ul class="react-list">
                                            <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="main-comments">
                        <div class="each-comment">
                            <div class="post-header">
                                <div class="media">
                                    <div class="user-img">
                                        <img src="media/figure/notifiy_1.png" alt="Aahat">
                                    </div>
                                    <div class="media-body">
                                        <div class="user-title"><a href="user-timeline.html">Neko Bebo</a></div>
                                        <ul class="entry-meta">
                                            <li class="meta-time">5 mins ago</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Close</a>
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque..</p>
                            </div>
                            <div class="post-footer">
                                <ul>
                                    <li class="react-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_2.png" alt="icon">
                                    </li>
                                    <li class="post-react">
                                        <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                        <ul class="react-list">
                                            <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul> -->
            </li>
            <!-- <li class="main-comments">
                <div class="each-comment">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="media/figure/chat_14.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="#">Rebeca Powel</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-world"></i>Friends</li>
                                    <li class="meta-time">5 minutes ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantiumSed ..</p>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="react-icon">
                                <img src="media/figure/reaction_1.png" alt="icon">
                                <img src="media/figure/reaction_2.png" alt="icon">
                            </li>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->
        </ul>
        <div class="load-more-btn">
            <a class="item-btn">Load More Comments <span>4+</span></a>
        </div>
        <div class="comment-reply">
            <div class="user-img">
                <img src="{{user!.profile_picture}}" style="max-width: 30px;">
            </div>
            <div class="input-box">
                <input type="text" name="comment" class="form-control" placeholder="Your Reply....">
            </div>
        </div>
    </div>
</div>
<div class="block-box load-more-btn">
    <a  class="item-btn"><i class="icofont-refresh"></i>Load More Posts</a>
</div>