<div class="widget widget-memebers">
    <div class="widget-heading">
        <h3 class="widget-title">My Friends</h3>
        <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                ...
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Close</a>
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Delete</a>
            </div>
        </div>
    </div>
    <div class="members-list">
        <div class="media">
            <div class="item-img">
                <a href="#">
                    <img src="media/figure/chat_1.jpg" alt="Chat">
                </a>
            </div>
            <div class="media-body">
                <h4 class="item-title"><a href="#">Aahat Akter</a></h4>
                <div class="item-username">@Aahat </div>
                <div class="member-status online"><i class="icofont-check"></i></div>
            </div>
        </div>
        <div class="media">
            <div class="item-img">
                <a href="#">
                    <img src="media/figure/chat_2.jpg" alt="Chat">
                </a>
            </div>
            <div class="media-body">
                <h4 class="item-title"><a href="#">Kazi Rahman</a></h4>
                <div class="item-username">@Rahman</div>
                <div class="member-status online"><i class="icofont-check"></i></div>
            </div>
        </div>
        <div class="media">
            <div class="item-img">
                <a href="#">
                    <img src="media/figure/chat_3.jpg" alt="Chat">
                </a>
            </div>
            <div class="media-body">
                <h4 class="item-title"><a href="#">Alia Karon</a></h4>
                <div class="item-username">@Alia</div>
                <div class="member-status online"><i class="icofont-check"></i></div>
            </div>
        </div>
        <div class="media">
            <div class="item-img">
                <a href="#">
                    <img src="media/figure/chat_4.jpg" alt="Chat">
                </a>
            </div>
            <div class="media-body">
                <h4 class="item-title"><a href="#">Masterero</a></h4>
                <div class="item-username">@Master</div>
                <div class="member-status offline"><i class="icofont-check"></i></div>
            </div>
        </div>
    </div>
    <div class="see-all-btn">
        <a href="#" class="item-btn">See All Friends</a>
    </div>
</div>