<div class="block-box post-input-tab">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation" data-toggle="tooltip" data-placement="top" title="" data-original-title="STATUS">
            <a class="nav-link active" data-toggle="tab" href="#post-status" role="tab" aria-selected="true"><i class="fa fa-copy"></i>Status</a>
        </li>
        <li class="nav-item" role="presentation" data-toggle="tooltip" data-placement="top" title="" data-original-title="MEDIA">
            <a class="nav-link" data-toggle="tab" href="#post-media" role="tab" aria-selected="false"><i class="fa fa-image"></i>Photo/ Video Album</a>
        </li>
        <li class="nav-item" role="presentation" data-toggle="tooltip" data-placement="top" title="" data-original-title="BLOG">
            <a class="nav-link" data-toggle="tab" href="#post-blog" role="tab" aria-selected="false"><i class="fa fa-list"></i>Blog</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="post-status" role="tabpanel">
            <textarea name="status-input" id="status-input1" class="form-control textarea" placeholder="Share what are you thinking . . ." cols="30" rows="6" [(ngModel)]="content"></textarea>
        </div>
        <div class="tab-pane fade" id="post-media" role="tabpanel">
            <textarea name="status-input" id="status-input2" class="form-control textarea" placeholder="Share what are you thinking . . ." cols="30" rows="6" [(ngModel)]="content"></textarea>
        </div>
        <div class="tab-pane fade" id="post-blog" role="tabpanel">
            <textarea name="status-input" id="status-input3" class="form-control textarea" placeholder="Share what are you thinking . . ." cols="30" rows="6" [(ngModel)]="content"></textarea>
        </div>
    </div>
    <div class="post-footer">
        <div class="insert-btn">
            <a href="#"><i class="fa fa-camera"></i></a>
            <a href="#"><i class="fa fa-tag"></i></a>
            <a href="#"><i class="fa fa-map-pin"></i></a>
        </div>
        <div class="submit-btn">
            <a (click)="share_post()">Post Submit</a>
        </div>
    </div>
</div>