<div class="block-box post-view" *ngFor="let post of posts">
    <div class="post-header">
        <div class="media">
            <div class="user-img">
                <img *ngIf="viewing_feed" src="{{post.user['profile_picture']}}"
                    style="width: 50px; height: 50px; object-fit: cover;">
                <img *ngIf="!viewing_feed" src="{{user!.profile_picture}}"
                    style="width: 50px; height: 50px; object-fit: cover;">
            </div>
            <div class="media-body">
                <div class="user-title">
                    <a *ngIf="viewing_feed" routerLink="/profile/{{post.user['username']}}">{{post.user['name']}}</a>
                    <a *ngIf="!viewing_feed" routerLink="/profile/{{user!.username}}">{{user!.name}}</a>
                    <app-verified-tick [is_admin]="post.user['is_admin']"
                        [condition]="viewing_feed && post.user['is_verified']"></app-verified-tick>
                    <app-verified-tick [is_admin]="user!.is_admin"
                        [condition]="!viewing_feed && user!.is_verified"></app-verified-tick>
                </div>
                <ul class="entry-meta">
                    <li class="meta-time">{{util.parseTimestamp(post.timestamp)}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post-body">
        <div class="post-no-thumbnail">
            <p [innerHTML]="post.content"></p>
        </div>
        <div class="post-meta-wrap" *ngIf="get_total_reaction_count(post)">
            <div class="post-meta">
                <div class="post-reaction">
                    <div class="reaction-icon">
                        <img [src]="get_reaction_url(x.key)" alt="" *ngFor="let x of post.reactions | keyvalue">
                    </div>
                    <div class="meta-text" [title]="get_list_of_reactees(post)">{{get_total_reaction_count(post)}}</div>
                </div>
            </div>
            <div class="post-meta">
                <div class="meta-text" *ngIf="!logged_in_user"
                    (click)="writing_comment[post.id] = !writing_comment[post.id] && get_comments(post.id)"><i
                        class="fa fa-comments"></i></div>
                <div class="meta-text" *ngIf="false">05 Share</div>
            </div>
        </div>
    </div>
    <div class="post-footer" *ngIf="logged_in_user">
        <ul>
            <li class="post-react">
                <a>
                    <img [src]="get_reaction_url(get_my_reaction(post).reaction_type)"
                        *ngIf="get_my_reaction(post).show_icon" class="pr-2">
                    <i class="fa fa-thumbs-up" *ngIf="!get_my_reaction(post).show_icon"></i>
                    {{capitalize_first_letter(get_my_reaction(post).reaction_type)}}</a>
                <ul class="react-list">
                    <li><a (click)="add_reaction(post.id,'LIKE')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_1.png"
                                alt="Like"></a></li>
                    <li><a (click)="add_reaction(post.id,'LOVE')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_3.png"
                                alt="Like"></a></li>
                    <li><a (click)="add_reaction(post.id,'CARE')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_4.png"
                                alt="Like"></a></li>
                    <li><a (click)="add_reaction(post.id,'HAHA')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_2.png"
                                alt="Like"></a></li>
                    <li><a (click)="add_reaction(post.id,'WOW')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_7.png"
                                alt="Like"></a></li>
                    <li><a (click)="add_reaction(post.id,'SAD')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_6.png"
                                alt="Like"></a></li>
                    <li><a (click)="add_reaction(post.id,'ANGRY')"><img
                                src="https://radiustheme.com/demo/html/cirkle/media/figure/reaction_5.png"
                                alt="Like"></a></li>
                </ul>
            </li>
            <li *ngIf="logged_in_user"><a
                    (click)="writing_comment[post.id] = !writing_comment[post.id] && get_comments(post.id)"><i
                        class="fa fa-comment"></i>Comment</a></li>
            <li class="post-share" *ngIf="false">
                <a href="javascript:void(0);" class="share-btn"><i class="fa fa-share"></i>Share</a>
                <ul class="share-list">
                    <li><a class="color-fb"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="color-twitter"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="post-comment" *ngIf="writing_comment[post.id]">
        <ul class="comment-list">
            <li class="main-comments" *ngFor="let comment of this.comment_list[post.id]">
                <div class="each-comment">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img" routerLink="/profile/{{comment.user['username']}}">
                                <img [src]="comment.user['profile_picture']" [alt]="comment.user['username']"
                                    style="width: 50px; height: 50px; object-fit: cover;">
                            </div>
                            <div class="media-body">
                                <div class="user-title">
                                    <a routerLink="/profile/{{comment.user['username']}}">{{comment.user['name']}}</a>
                                    <app-verified-tick [is_admin]="comment.user['is_admin']"
                                        [condition]="comment.user['is_verified']"></app-verified-tick>
                                </div>
                                <ul class="entry-meta">
                                    <li class="meta-time">{{util.parseTimestamp(comment.timestamp)}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown" *ngIf="logged_in_user">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" (click)="delete_comment(post.id, comment.id)">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>{{comment.content}}</p>
                    </div>
                    <div class="post-footer">
                        
                        <ul>
                            <li class="react-icon" *ngIf="false">
                                <img src="media/figure/reaction_1.png" alt="icon">
                                <img src="media/figure/reaction_2.png" alt="icon">
                            </li>
                            <li class="post-react" *ngIf="false">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <br>
                            <li><a href="#" *ngIf="false"><i class="fa fa-reply"></i>Reply</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <ul class="children">
                    <li class="main-comments">
                        <div class="each-comment">
                            <div class="post-header">
                                <div class="media">
                                    <div class="user-img">
                                        <img src="media/figure/notifiy_1.png" alt="Aahat">
                                    </div>
                                    <div class="media-body">
                                        <div class="user-title"><a href="user-timeline.html">Neko Bebo</a></div>
                                        <ul class="entry-meta">
                                            <li class="meta-time">5 mins ago</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Close</a>
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem..</p>
                            </div>
                            <div class="post-footer">
                                <ul>
                                    <li class="react-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_3.png" alt="icon">
                                    </li>
                                    <li class="post-react">
                                        <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                        <ul class="react-list">
                                            <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="main-comments">
                        <div class="each-comment">
                            <div class="post-header">
                                <div class="media">
                                    <div class="user-img">
                                        <img src="media/figure/notifiy_1.png" alt="Aahat">
                                    </div>
                                    <div class="media-body">
                                        <div class="user-title"><a href="user-timeline.html">Neko Bebo</a></div>
                                        <ul class="entry-meta">
                                            <li class="meta-time">5 mins ago</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Close</a>
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <div class="post-body">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque..</p>
                            </div>
                            <div class="post-footer">
                                <ul>
                                    <li class="react-icon">
                                        <img src="media/figure/reaction_1.png" alt="icon">
                                        <img src="media/figure/reaction_2.png" alt="icon">
                                    </li>
                                    <li class="post-react">
                                        <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                        <ul class="react-list">
                                            <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                            <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul> -->
            </li>
            <!-- <li class="main-comments">
                <div class="each-comment">
                    <div class="post-header">
                        <div class="media">
                            <div class="user-img">
                                <img src="media/figure/chat_14.jpg" alt="Aahat">
                            </div>
                            <div class="media-body">
                                <div class="user-title"><a href="#">Rebeca Powel</a></div>
                                <ul class="entry-meta">
                                    <li class="meta-privacy"><i class="icofont-world"></i>Friends</li>
                                    <li class="meta-time">5 minutes ago</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Close</a>
                                <a class="dropdown-item" href="#">Edit</a>
                                <a class="dropdown-item" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="post-body">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantiumSed ..</p>
                    </div>
                    <div class="post-footer">
                        <ul>
                            <li class="react-icon">
                                <img src="media/figure/reaction_1.png" alt="icon">
                                <img src="media/figure/reaction_2.png" alt="icon">
                            </li>
                            <li class="post-react">
                                <a href="#"><i class="icofont-thumbs-up"></i>React!</a>
                                <ul class="react-list">
                                    <li><a href="#"><img src="media/figure/reaction_1.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_3.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_4.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_2.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_7.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_6.png" alt="Like"></a></li>
                                    <li><a href="#"><img src="media/figure/reaction_5.png" alt="Like"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><i class="icofont-reply"></i>Reply</a></li>
                        </ul>
                    </div>
                </div>
            </li> -->
        </ul>
        <div class="load-more-btn" *ngIf="false">
            <a class="item-btn">Load More Comments <span>4+</span></a>
        </div>
        <div class="comment-reply" *ngIf="writing_comment[post.id] && logged_in_user">
            <div class="user-img">
                <img src="{{user!.profile_picture}}" style="max-width: 30px;">
            </div>
            <div class="input-box">
                <input type="text" name="comment" class="form-control" placeholder="Your Reply...."
                    [(ngModel)]="this.comments[post.id]">
            </div>
            <button class="btn btn-info mr-1 ml-1" (click)="write_comment(post.id)"><i class="fa fa-send"></i></button>
            <button class="btn btn-danger" (click)="writing_comment[post.id]=false"><i class="fa fa-times"></i></button>
        </div>
    </div>
</div>
<div class="block-box load-more-btn" *ngIf="false">
    <a class="item-btn"><i class="icofont-refresh"></i>Load More Posts</a>
</div>