<div class="page-content" *ngIf="user != null">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <app-share-post></app-share-post>
                <app-profile-page-posts></app-profile-page-posts>
            </div>
            <div class="col-lg-4 widget-block widget-break-lg">
                <app-my-profile-sidebar></app-my-profile-sidebar>
                <br>
                <app-people-you-may-know></app-people-you-may-know>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>