<main id="main">
    <section id="about" class="about">
        <div class="container mt-3">


            <h1 class="display-4">Our Investors</h1>
            <br>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque voluptate quam quae blanditiis repudiandae molestias sapiente praesentium laborum nostrum amet nemo dignissimos tempore, laudantium veritatis quibusdam sint hic eius et.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat ipsa unde eligendi, facere voluptates dolorum labore sit perferendis nam magni amet reiciendis hic commodi facilis ex architecto, totam, distinctio omnis?
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile widget-item p-0" style="border-radius: 2%; border: none;">
                            <div class="profile-banner">
                                <figure class="profile-banner-small">
                                    <a routerLink="/profile/siddharth" >
                                        <img src="https://drive.google.com/uc?export=view&id=1mbsHT6xXdoALwOg9fpDXPIX55jWsz3cO" alt="">
                                    </a>
                                    <a routerLink="/profile/siddharth" class="profile-thumb-2">
                                        <img src="https://avatars.githubusercontent.com/u/68241942?v=4" alt="">
                                    </a>
                                </figure>
                                
                                <div class="profile-desc text-center">
                                    Siddharth Singh
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>