<main id="main">
    <section id="about" class="about">
        <div class="container mt-3">


            <h1 class="display-4">Our Investors</h1>
            <br>
            <p class="lead">
                Hello,<br><br> 
                We at Gliter are excited to introduce ourselves as a private, bootstrapped company currently building the next generation of social network. Our team is small but dedicated to creating a platform that will revolutionize the way people connect and communicate online.<br><br>
                Please note that Gliter is currently in beta and is not yet registered. We would like to extend our deepest gratitude to all of our investors who have supported us thus far. If you are interested in investing in our company, please reach out to <a href="mailto:siddharth@gliter.in?subject=Investment%20Inquiry%20for%20Gliter&body=I%20am%20writing%20to%20inquire%20about%20potential%20investment%20opportunities%20at%20Gliter.">siddharth@gliter.in</a>.<br><br>
                Thank you for your time and consideration.<br><br>
                Best,<br>
                The Gliter Team 
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile widget-item p-0" style="border-radius: 2%; border: none;">
                            <div class="profile-banner">
                                <figure class="profile-banner-small">
                                    <a routerLink="/profile/siddharth" >
                                        <img src="https://drive.google.com/uc?export=view&id=1mbsHT6xXdoALwOg9fpDXPIX55jWsz3cO" alt="">
                                    </a>
                                    <a routerLink="/profile/siddharth" class="profile-thumb-2">
                                        <img src="https://avatars.githubusercontent.com/u/68241942?v=4" alt="">
                                    </a>
                                </figure>
                                
                                <div class="profile-desc text-center">
                                    Siddharth Singh
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
