<aside class="widget-area">
    <div class="card widget-item" style="border-radius: 5%;">
        <h4 class="widget-title">People you may know</h4>
        <div class="widget-body">
            <ul class="like-page-list-wrapper">

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/Joseph_Watson">
                            <figure class="profile-thumb-small">
                                <img src="https://images.unsplash.com/photo-1667185648113-2dc865d50d69?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;h=250&amp;ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2ODI2MzU4Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=250"
                                    alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/Joseph_Watson">Joseph Watson </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/Rafael_Hayes">
                            <figure class="profile-thumb-small">
                                <img src="https://images.unsplash.com/photo-1667326792313-d4d4342b0891?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;h=250&amp;ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2ODMwODI2Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=250"
                                    alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/Rafael_Hayes">Rafael Hayes </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/Ruth_Whittmore">
                            <figure class="profile-thumb-small">
                                <img src="https://images.unsplash.com/photo-1667778680572-5c696f682867?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;h=250&amp;ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2ODMwODE5Ng&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=250"
                                    alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/Ruth_Whittmore">Ruth Whittmore </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/s59_60r">
                            <figure class="profile-thumb-small">
                                <img src="https://i.ibb.co/BfG7gZ8/default-profile-picture.jpeg" alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/s59_60r">Siddharth Temp Account </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/admin">
                            <figure class="profile-thumb-small">
                                <img src="https://stanforduni.us/wp-content/uploads/2020/05/default-avatar.png"
                                    alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/admin">Glitter <i class="fa fa-check"
                                    style="background-color: #2aa8df;border: white;border-radius: 8px;color: white;padding: 2px;"></i>
                            </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/Corey_Schweitzer">
                            <figure class="profile-thumb-small">
                                <img src="https://images.unsplash.com/photo-1666059369007-6885ee6a2ecc?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;h=250&amp;ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2ODY4MTY2OQ&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=250"
                                    alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/Corey_Schweitzer">Corey Schweitzer </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

                <li class="unorder-list">
                    <!-- profile picture end -->
                    <div class="profile-thumb">
                        <a href="/profile/John_Berry">
                            <figure class="profile-thumb-small">
                                <img src="https://images.unsplash.com/photo-1666545132109-0efb6bcd30ca?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;h=250&amp;ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2ODY4MTY3Nw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=250"
                                    alt="profile picture">
                            </figure>
                        </a>
                    </div>
                    <!-- profile picture end -->

                    <div class="unorder-list-info">
                        <h3 class="list-title"><a href="/profile/John_Berry">John Berry </a></h3>
                        <!-- <p class="list-subtitle"><a href="#">10 mutual</a></p> -->
                    </div>
                </li>

            </ul>
        </div>
    </div>
</aside>