<div class="widget widget-memebers">
    <div class="widget-heading">
        <h3 class="widget-title">People You May Know</h3>
    </div>
    <div class="members-list">
        <div class="media">
            <div class="item-img">
                <a routerLink="/profile/siddharth">
                    <img src="https://avatars.githubusercontent.com/u/68241942?v=4" style="max-width: 50px;" alt="Chat">
                </a>
            </div>
            <div class="media-body">
                <h4 class="item-title"><a routerLink="/profile/siddharth">Siddharth Singh <span class="acc-verified" style="background-color: skyblue;color: white;border-radius: 50%;"><i
                    class="fa fa-check"></i></span></a></h4>
                <div class="item-username"><a routerLink="/profile/siddharth" class="text-muted">@siddharth </a></div>
            </div>
        </div>
    </div>
</div>