<span *ngIf="user != null">
    <div class="banner-user" [style.background-image]="'url('+ user.cover_picture + ')'" style="max-width: 1170px; max-height: 400px;">
        <div class="banner-content">
            <div class="media">
                <div class="item-img">
                    <img src="{{user.profile_picture}}" style="max-width: 115px;" alt="User">
                </div>
                <div class="media-body">
                    <h3 class="item-title">{{user.name}}</h3>
                    <div class="item-subtitle">{{user.location}}</div>
                    <ul class="item-social" *ngIf="third_person">
                        <button class="btn btn-info">Follow</button>
                    </ul>
                    <ul class="user-meta">
                        <li>Posts: <span>{{total_posts}}</span></li>
                        <li>Followers: <span>100K</span></li>
                        <li>Views: <span>1.2k</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</span>