<div class="widget widget-user-about" *ngIf="user != null">
  <div class="widget-heading">
    <h3 class="widget-title">Edit Profile</h3>
  </div>
  <div class="user-info">
    <div id="bio" class="form-group">
      <mat-form-field style="width: 100%">
        <mat-label>Bio</mat-label>
        <input
          matInput
          placeholder="Bio"
          name="bio"
          [(ngModel)]="user['bio']"
        />
      </mat-form-field>
    </div>
    <ul class="info-list">
      <li>
        <div id="name" class="form-group">
          <mat-form-field style="width: 100%">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Full Name"
              name="name"
              [(ngModel)]="user['name']"
            />
          </mat-form-field>
        </div>
      </li>
      <li>
        <div id="birthdate" class="form-group">
          <label for="birthdate">
            Birthday<span class="asteriskField">*</span>
          </label>
          <div>
            <input
              type="date"
              id="birthdate"
              class="form-control"
              name="birthdate"
              [(ngModel)]="user['birthday']"
            />
          </div>
        </div>
      </li>
      <li>
        <div id="location" class="form-group">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Select Country</mat-label>
            <mat-select [(value)]="user['location']">
              <mat-option
                *ngFor="let country of countries"
                value="{{ country }}"
                >{{ country }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </li>
      <li>
        <div id="relationship" class="form-group">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Select Relationship</mat-label>
            <mat-select [(value)]="user['relationship']" name="relationship">
              <mat-option value="Private">Private</mat-option>
              <mat-option value="Single">Single</mat-option>
              <mat-option value="Dating">Dating</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </li>
      <li>
        <div id="gender" class="form-group">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Select Gender</mat-label>
            <mat-select [(value)]="user['gender']">
              <mat-option value="Other">Other</mat-option>
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </li>
      <li>
        <div id="profile_picture" class="form-group">
          <mat-label>Profile Picture</mat-label>
          <br />
          <input
            type="file"
            name="file"
            accept="image/*"
            (change)="upload_profile_picture($event)"
          />
        </div>
      </li>
      <li>
        <div id="cover_picture" class="form-group">
          <mat-label>Cover Picture</mat-label>
          <br />
          <input
            type="file"
            name="file"
            accept="image/*"
            (change)="upload_cover_picture($event)"
          />
        </div>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="save_data()">
      Update
    </button>
  </div>
</div>
