<aside class="widget-area profile-sidebar">
    <!-- widget single item start -->
    <div class="card widget-item" style="border-radius: 2%; border: none;" *ngIf="user != null">
        <h4 class="widget-title">{{user.name}} <i class="fa fa-check" *ngIf="user.is_verified"
                style="background-color: #2aa8df;border: white;border-radius: 8px;color: white;padding: 2px;"></i>
        </h4>
        <div class="widget-body">
            <div class="about-author">
                <p>{{user.bio}}</p>
                <ul class="author-into-list">
                    <li><i class="fa fa-briefcase"></i> <span class="pl-3">{{user.occupation}}</span></li>
                    <li><i class="fa fa-home"></i> <span class="pl-3">{{user.location}}</span></li>
                    <li><i class="fa fa-birthday-cake"></i><span
                            class="pl-3">{{util.parseTimestampShort(user.birthday)}}</span></li>
                    <li><i class="fa fa-clock-o"></i> <span
                            class="pl-3">{{util.parseTimestampShort(user.joined_on)}}</span></li>
                    <li><i class="fa fa-venus-mars"></i><span class="pl-3">{{user.gender}}</span></li>
                    <li><i class="fa fa-heart"></i><span class="pl-3">{{user.relationship}}</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget single item end -->

</aside>