<div class="widget widget-user-about">
    <div class="widget-heading">
        <h3 class="widget-title" *ngIf="!third_person">About Me</h3>
        <h3 class="widget-title" *ngIf="third_person">About {{user?.name}}</h3>
    </div>
    <div class="user-info">
        <p>{{user?.bio}}</p>
        <ul class="info-list">
            <li><span>Name:</span>{{user?.name}}</li>
            <li><span>Joined:</span>{{util.parseTimestampShort(user!.joined_on)}}</li>
            <li><span>Birthday:</span>{{util.parseTimestampShort(user!.birthday)}}</li>
            <li><span>Location:</span>{{user!.location}}</li>
            <li><span>Gender:</span>{{user!.gender}}</li>
            <li class="social-share"><span>Social:</span>
                <div class="social-icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </li>
        </ul>
    </div>
</div>