<main id="main">
  <section id="about" class="page-content" style="background-color: white">
    <div class="container" *ngIf="user != null">
      <br />
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Welcome, let's get you onboarded
        </legend>
        <div class="row">
          <div class="col-md-6">
            <div id="username" class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Username</mat-label>
                <input
                  matInput
                  placeholder="Username"
                  name="username"
                  [(ngModel)]="user['username']"
                />
              </mat-form-field>
            </div>
            <div id="name" class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  placeholder="Full Name"
                  name="name"
                  [(ngModel)]="user['name']"
                />
              </mat-form-field>
            </div>
            <div id="profile_picture" class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Profile Picture (Add Link)</mat-label>
                <input
                  matInput
                  placeholder="Profile Picture"
                  name="profile_picture"
                  [(ngModel)]="user['profile_picture']"
                />
              </mat-form-field>
            </div>
            <div id="cover_picture" class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Cover Picture (Add Link)</mat-label>
                <input
                  matInput
                  placeholder="Cover Picture"
                  name="cover_picture"
                  [(ngModel)]="user['cover_picture']"
                />
              </mat-form-field>
            </div>
            <div id="gender" class="form-group">
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Select Gender</mat-label>
                <mat-select [(value)]="user['gender']">
                  <mat-option value="Other">Other</mat-option>
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div id="location" class="form-group">
                <br>
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Select Country</mat-label>
                <mat-select [(value)]="user['location']">
                  <mat-option
                    *ngFor="let country of countries"
                    value="{{ country }}"
                    >{{ country }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div id="occupation" class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Occupation</mat-label>
                <input
                  matInput
                  placeholder="Occupation"
                  name="occupation"
                  [(ngModel)]="user['occupation']"
                />
              </mat-form-field>
            </div>

            <div id="bio" class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Bio</mat-label>
                <input
                  matInput
                  placeholder="Bio"
                  name="bio"
                  [(ngModel)]="user['bio']"
                />
              </mat-form-field>
            </div>

            <div id="birthdate" class="form-group">
              <label for="birthdate">
                Birthday<span class="asteriskField">*</span>
              </label>
              <div>
                <input
                  type="date"
                  id="birthdate"
                  class="form-control"
                  name="birthdate"
                  [(ngModel)]="user['birthday']"
                />
              </div>
            </div>

            <div id="relationship" class="form-group">
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Select Relationship </mat-label>
                <mat-select
                  [(value)]="user['relationship']"
                  name="relationship"
                >
                  <mat-option value="Private">Private</mat-option>
                  <mat-option value="Single">Single</mat-option>
                  <mat-option value="Dating">Dating</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="save_data()"
        >
          Save
        </button>
      </div>
    </div>
  </section>
</main>
