<main id="main">
    <section id="about" class="page-content" style="background-color: white;">
        <div class="container mt-3">
            <h1 class="display-4">About Gliter</h1>
            <br>
            <p class="lead">
                Gliter is a social networking platform that is currently in development. Our team is made up of a small, dedicated group of individuals who are working hard to bring a revolutionary new way for people to connect and communicate online. We are a private, bootstrapped company, and while we are still in beta, we are excited about the potential for growth and success in the future.<br><br>
                We welcome any inquiries. Please contact <a href="mailto:siddharth@gliter.in">siddharth@gliter.in</a> for more information. Thank you for your interest in Gliter!
            </p>
        </div>
    </section>
</main>
